#title {
    font-size: 50px;
    text-align: center;
    border-color: #1fa0db;
    border-width: 15px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 108, 3);
}
.button{
    height: 3em;
    width: 50%;
    flex-direction: flex;
    border-color: rgb(255, 108, 3);
}
.button:hover{
    background-color: #1fa0db;
}